
<!-- Contact Section Start -->
<div id="contact" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h4 class="section-title">Nous contacter</h4>
                <p class="mb-4">N'hésitez pas à nous contacter pour toute question ou demande d'information. Nous nous ferons un plaisir de vous assister rapidement et efficacement.</p>
                <div class="row g-4">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-light" style="width: 65px; height: 65px;">
                                <i class="fa fa-2x fa-envelope-open text-primary"></i>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">Ou par mail</p>
                                <h3 class="mb-0">guiziweb@gmail.com</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <form action="https://formspree.io/f/xvoeyjdo" method="POST">
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            <input type="email" class="form-control" name="email" placeholder="Votre Email" style="height: 55px;" required>
                        </div>
                        <div class="col-12">
                            <textarea class="form-control" rows="5" name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section End -->