<!DOCTYPE html>
<html lang="fr">

<head>
    {% include head.html %}
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-TQ6L9WFT"
            height="0"
            width="0"
            style="display:none;visibility:hidden">
    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% include nav.html %}

{{ content }}

{% include contact.html %}

{% include scripts.html %}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/67d1d60df0010819121bf7bd/1im5qo9nf';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
</script>
    <!--End of Tawk.to Script-->
    
</body>

</html>