---
layout: default
title: {{ page.title }}
---
<div class="container-fluid bg-primary py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white text-center">{{ page.title }}</h1>
        <div class="text-center text-white">
            <span>Publié le {{ page.date | date: "%d %B, %Y"}} </span> • <span> {{ page.author }}</span>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Main Content Start -->
<div class="container py-5">
    <div class="row g-4">
        <!-- Article Section -->
        <div class="col-lg-8">
            <article>
                {% if page.image  %}
                    <div class="mb-4">
                        <img   src="{{ page.image }}" alt="{{ page.title }}" class="img-fluid">
                    </div>
                {% endif %}
                {{ content }}
            </article>
            <!-- Tags -->
            {% if page.tags %}
            <div class="my-5">
                <h5>Tags :</h5>
                <div class="d-flex flex-wrap">
                    {% for tag in page.tags %}
                    <div class="btn btn-light btn-sm me-2 mb-2">
                        <i class="fas fa-tag text-primary"></i> {{ tag }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>